.intro {
    position: relative;
    height: 1200px;
}

.intro__bg-back {
    position: absolute;
    top: -128px;
    z-index: -5;
    max-width: 100%;
}

.intro__bg-mid {
    position: absolute;
    top: 400px;
    z-index: -3;
    max-width: 100%;
}

.intro__bg-front {
    position: absolute;
    top: 704px;
    z-index: -2;
    max-width: 100%;
}

.intro__gradient {
  background-image: linear-gradient(0, #0B1D2600, #0B1D26FF);
  width: 100%;
  height: 1200px;
  z-index: -4;
  position: absolute;
  top: -400px;
}

.intro__content {
    display: flex;
    justify-content: space-between;
    padding: 198px 80px 0;
}

.intro__follow {
    writing-mode: vertical-lr;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    display: flex;
    gap: 24px;
    margin: 80px 0 0;
}

.intro__icon {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.intro__icon_type_insta {
    background-image: url('../images/instagram.svg');
}

.intro__icon_type_twitter {
    background-image: url('../images/twitter.svg');
}

.intro__title {
    font-family: 'Chronicle Display', Times, serif;
    font-size: 88px;
    font-weight: 600;
    line-height: 100px;
    max-width: 950px;
    color: #FFF;
    margin: 16px 0 0;
}

.intro__subtitle-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.intro__stripe {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.intro__subtitle {
    color: #FBD784;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.intro__scroll-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: 'Gilroy', Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}
