.section {
    display: flex;
    align-items: flex-start;
    position: relative;
    gap: 264px;
}

.section_reverse {
    flex-direction: row-reverse;
}

.section__text {
    position: relative;
    top: 141px;
    left: 150px;
    z-index: 1;
    max-width: 632px;
}

.section__text_reverse {
    left: 0;
}

.section__number {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 240px;
    line-height: 240px;
    font-weight: 700;
    color: #FFF;
    opacity: 0.1;
    z-index: -1;
    margin: 0;
    position: absolute;
    top: -103px;
    left: -150px;
}

.section__title {
    font-family: 'Chronicle Display', Times, serif;
    font-size: 64px;
    font-weight: 600;
    color: #FFF;
    margin: 0;
}

.section__subtitle-container {
    display: flex;
    align-items: center;
    gap: 32px;
}

.section__stripe {
    width: 72px;
    height: 2px;
    background-color: #FBD784;
}

.section__subtitle {
    color: #FBD784;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.section__paragraph {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #FFF;
}

.section__link {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #FBD784;
}

.section__image {
    width: 566px;
    height: 720px;
}